/*基本設定*/
.flex-cotainer {
    display: flex;
    flex-direction: column;
  }
   
  .wrapper{
      display: flex;
      min-height: 80vh;
      flex-direction: column;
  }
   
  .flex-items {
    margin: -8px;
    padding: 0px;
    flex: 1;
    background-image: url(../imgs/back2.png);
    background-size: 100%;
    background-position: top;
    background-repeat:no-repeat;
    display: flex;
    height: 1%;
    
  }
   
  .content1 {
    width: 10%;
    background-color: #000;
    display: inline;
  }
  .content2 {
    background-color: #FFF;
    margin-top: 100px;
  }
  
  .content3 {
    flex-wrap: wrap;
    background-color: #FFF;
  }

header{
  padding: 0px;
  display: flex;
  height: 60px;
  width: 100%;
  background-color: #000;
  justify-content: flex-end;
  align-items: center;
  z-index: 9999;
  top: 0px;
  left: 0px; 
  margin-top: -8px;
  margin-left: 0px;

}
footer{
  margin: -8px;
  padding: 0px;
  height: 200px;
  background-color: #F4F4F4;
    
}
/*フォント、書式等*/
.menu_line{
  margin: 30px;
  display: inline-block;
  margin-left: 10px;
}
.name{
    font-family: serif;
    color:#FFF;
    margin-right: auto;
    padding: 30px 10%;
    text-decoration: none;
}
.menu{
    font-family: serif;
    color: #FFF;
    text-decoration: none;
    margin-right: 30px;
}
.menu:hover{
  color: #FF00FF;
}
.name:hover{
  color: #FF00FF;
}
.slide{
    width: 74.59375%;
}
.logo{
  margin-top: -58px;
    width: 15.3645833%;
    float: left; 
    display: inline;
}
.side_line{
  margin-top: -58px;
  width: 11.0416667%;
  float: right;
}
.img_all{

  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
}

.tags{
  font-family: serif;
  text-align: center;
  font-size: 2.5vw;
  margin-top: 50px;
}

.icon{
  width: 5%;
  height: 5%;
}

.imgs_main{
  margin-top: 4%;
  margin-right: -10%;
  width: 30%;
  right: 5px;
}

.about{
  display: inline-block;
  text-align: left;
  vertical-align: 280%;
  background: #F4F4F4;
}

.imgs_slider{
  width: 90%;
  margin: 0 auto;
  max-width: 700px;
  width: 90%;
  display: inline-block;
}

/*=== 画像の設定 ======================================= */
.imgs {
  margin-top: -56px;
  display    : inline;
  position   : absolute;
  /* 画像のサイズを表示エリアに合せる */
  width      : inherit;
  height     : inherit;
  opacity    : 0;
  animation  : slideAnime 16s ease infinite;
}
 
/*=== スライドのアニメーションを段差で開始する ========= */
.slide img:nth-of-type(1) { animation-delay: 0s }
.slide img:nth-of-type(2) { animation-delay: 4s }
.slide img:nth-of-type(3) { animation-delay: 8s }
.slide img:nth-of-type(4) { animation-delay: 12s }
 
 /*=== スライドのアニメーション ========================= */
@keyframes slideAnime{
   0% { opacity: 0; transform: rotateY(90deg) }
   4% { opacity: 1; transform: rotateY(0deg)  }
  21% { opacity: 1; transform: rotateY(0deg)  }
  25% { opacity: 0; transform: rotateY(90deg) }
 100% { opacity: 0; transform: rotateY(90deg) }
}




/*
右から左へ
----------------------------*/
@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/*
左から右へ
----------------------------*/
@keyframes infinity-scroll-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.d-demo__list--right{
  margin-top: -5px;
  margin-left: -45px;
  animation :infinity-scroll-right 40s infinite linear 0.5s both;
}

/*
IE11対策
----------------------------*/
_:-ms-lang(x)::-ms-backdrop,
.d-demo {
  display: -ms-grid;
  overflow: hidden;
}
/*----------------------------*/

.d-demo__wrap {
  display: flex;
  overflow: hidden;
}

.d-demo__list {
  display: flex;
  list-style: none;
}

.d-demo__list--left{
margin-top: -1px;
margin-left: -45px;
animation :infinity-scroll-left 40s infinite linear 0.5s both;
}

.d-demo__item {
  width: calc(100vw / 2);
}
.d-demo__item > img{
   width: 100%;
}
.d-demo{
  margin-top: 7px;
}

body{
  margin-left: 0px;
  margin-right: 0px;
}

.tags_title{
  margin-right: 15%;
  display: inline-block;
  vertical-align: 300%;
}

.about_h2{
  display: inline-block;
}



/*カルーセルの設定*/
section {
  background: #000;
  padding: 50px 0;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 59px;
}

.carousel {
  display: block;
  text-align: left;
  position: relative;
  margin-bottom: 22px;
}
.carousel > input {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
.carousel > input:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -500%;
}
.carousel > input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -400%;
}
.carousel > input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -300%;
}
.carousel > input:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -200%;
}
.carousel > input:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -100%;
}
.carousel > input:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: 0%;
}
.carousel > input:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) {
  box-shadow: 0px 0px 0px 3px #FF00FF;
}
.carousel > input:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) {
  box-shadow: 0px 0px 0px 3px #FF00FF;
}
.carousel > input:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) {
  box-shadow: 0px 0px 0px 3px #FF00FF;
}
.carousel > input:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) {
  box-shadow: 0px 0px 0px 3px #FF00FF;
}
.carousel > input:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5) {
  box-shadow: 0px 0px 0px 3px #FF00FF;
}
.carousel > input:nth-of-type(6):checked ~ .carousel__thumbnails li:nth-of-type(6) {
  box-shadow: 0px 0px 0px 3px #FF00FF;
}

.carousel__slides {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: auto;
}

.carousel__slide {
  position: relative;
  display: block;
  flex: 1 0 100%;
  width: 100%;
  height: auto;
  overflow: hidden;
  transition: all 300ms ease-out;
  vertical-align: top;
  box-sizing: border-box;
  white-space: normal;
  width: 100%;
}
.carousel__slide figure {
  display: flex;
  margin: 0;
}
.carousel__slide div {
  position: relative;
  width: 100%;
  height: auto;
}
.carousel__slide div:before {
  display: block;
  content: "";
  width: 100%;
  height: auto;
  padding-top: 100%;
}
.carousel__slide div > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}
.carousel__slide figcaption {
  align-self: flex-end;
  padding: 20px 20px 0 20px;
  flex: 0 0 auto;
  width: 25%;
  min-width: 150px;
}
.carousel__slide .credit {
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.5);
  display: block;
}
.carousel__slide.scrollable {
  overflow-y: scroll;
}

.carousel__thumbnails {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 0 -10px;
}
.carousel__slides + .carousel__thumbnails {
  margin-top: 20px;
}
.carousel__thumbnails li {
  flex: 1 1 auto;
  max-width: calc((100% / 5) - 20px);
  margin: 0 10px;
  transition: all 300ms ease-in-out;
}
.carousel__thumbnails label {
  display: block;
  position: relative;
}
.carousel__thumbnails label:before {
  display: block;
  content: "";
  height: 100%;
  padding-top: 100%;
}
.carousel__thumbnails label > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.carousel__thumbnails label:hover, .carousel__thumbnails label:focus {
  cursor: pointer;
}
.carousel__thumbnails label:hover img, .carousel__thumbnails label:focus img {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease-in-out;
}
.carousel__thumbnails img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.all{
  background: #F4F4F4;
  margin-top: -40px;
}

#about_imgs{
  margin-left: 50%;
}
.title_div{
  height: auto;
}
.title2{
  margin-left: 10%;
  margin-top: -50%;
  color: #F4F4F4;
  width: 100%;
  line-height: 100%;
  font-size: 200%;
}
#about{
  background-image: url(../imgs/about.png);
  background-size: 30%;
  background-position: 20%;
  background-repeat:no-repeat;

}

.carousel__slide{
  background-image: url(../imgs/illustration.png);
  background-size: 50%;
  background-position: 90%;
  background-repeat:no-repeat;
}

.footer_h2{
  font-family: serif;
  color: #FFF;
  margin-left: 10%;
}
.content2{
  margin-top: 58px;
}

/*
#contact{
  height: 200%;
  background-image: url(../imgs/contact.png);
  background-size: 15%;
  background-position: 50%;
  background-repeat:no-repeat;
}
